ul {
    font-size: 100%;
}
li {
    float: none;
    width: auto;
}

h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 2.2rem;
}
h3 {
    margin: 10px;
    font-size: 2.2rem;
}
h4 {
    margin: 10px;
    padding-bottom: 10px;
    font-size: 1.8rem;
    border-bottom: 1px solid darkgrey;
}
#actions {
    border: none;
    background-color: inherit;
    font-size: 150%;
}
.action {
    float: none;
    width: auto;
    padding: 10px 0;
    border-top: 2px solid black;
}
div#nav-tabContent>div.active {
    background-color: #f3f3f3;
}
div#nav-tabContent>div.active>h2:first-child {
    background-color: rgba(118, 118, 118, 1);
}
a.list-group-item {
    color: black;
}
a.list-group-item.list-group-item-action {
    border-radius: 10px;
    margin: auto;
    width: 90%;
    margin-top: 5px;
}
#activity {
    margin-top: 60px;
}
/* the following block is for formatting li tags that appear in the right column */
ul.tab-content-ul li {
    padding: 5px;
    border-top: 2px solid black;
}

textarea {
    width: 90%;
}

input.submitButton {
    border-radius: 5px;
    margin-top: 5px;
}

form#postAdminMessage {
    padding-bottom: 5px;
}
#email {
    font-size: 180%;
}
