body {
	margin: 0;
	color: white;
}
/* homepage css */
h2 {
	color: white;
}
ul {
    font-size: 150%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

li {
	float: left;
	width: 33.333%;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: rgb(233, 81, 81);
}

#homepage_content {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#carouselExampleIndicators {
    width: 30%;
    max-height: 550px;
    margin-top: 60px;
    margin-bottom: 55px;
    float: left;
    overflow: hidden;
}
.d-block {
    max-height: 550px;;
}
.carousel-indicators li {
    background-color:white;
    border: 2px solid red;
}
.carousel-indicators .active {
    background-color: red;
}
.display {
    width: 67%;
    float: right;
	max-height: 550px;
	margin-top: 60px;
	background: rgba(255, 255, 255, 0.3);
}
.activity {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
	color: white;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.activity.title {
    text-align: center;
}

.activity.body {

}

.activity.postauthor {
    font-style: italic;
}

.activity.postdate {

}

.group {
	color: white;
}

.group.name {
    text-align: center;
}

.post {
	color: white;
}

/* Comment Page css */
.comment_content {
    border: 2px solid red;
    width: 60%;
    margin: 0 auto;
}
textarea[name=comment_body]{
    width: 100%;
    height: 100px;
}
.comment_form input[type=submit]{
    width: 20%;
    margin-left: 40%;
}