body {
    margin: 0;
    padding: 0;
    background: rgb(59, 59, 59);
    /* the next 4 lines are to make the footer play nice */
    min-height: 100%;
    padding-bottom: 80px;
    box-sizing: border-box;
    position: relative;
}
/*I am not sure if this is used anywhere else outside the header, so I won't delete it*/
h1{
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
    /* makes it at least more responsive than it was before */
    margin: 30px auto;
}
#content{
    width:85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Clearfix needed because all children of #content are floated */
#content::after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
.display{
    border: 2px solid red;
    box-shadow: 0 5px 5px #000;
    _height:50%;
    min-height:50%;
}
#pin{
    height: 20px;
}
#banner {
    background-color: yellow;
    margin: 0 0;
    padding: 16px 0 8px 0;
    color: red;
}

.smaller {
    font-size: 70%;
}
.smallest {
    font-style: italic;
    font-size: 50%;
}

a.list-group-item.list-group-item-action.active {
    background-color: #da243c;
    border-color: #da243c;
}
div#list-tab:last-child {
    margin-bottom: 20px;
}
