body {
	margin: 0;
	color: white;
}
/* homepage css */
#information {
    color: white;
    border-style: solid;
    border-color: #df213a;
    background: rgb(114, 114, 114);
    width: 30%;
    border-radius: 25px;
    float: left;
    margin-top: 60px;
}
#activity {
    color: white;
    border-style: solid;
    border: none;
    width: 65%;
    float: right;
    margin-bottom: 0;
}
/*The following block is for the activities box in group.php
    not sure if this is what we wanted, but at least the text is readable for now*/
#activity_content {
    color: black;
}
#activity_content>ul>li {
    width: 100%;
    padding: 15px 0;
}
/*The following block is for the links in the information column of group.php
    again, not sure if this is the desired appearance, but for now it will do*/
#information_content>p>a {
    text-decoration: none;
}
#information_content>p>a:hover {
    text-decoration: underline;
    color: white;
}
#group_logo{
    float: left;
    margin-left: 20px;
    width: 150px;
    height: 150px;
}
#tagline {
    margin-top: 10px;
    border-top: 1px solid darkgrey;
    padding-top: 10px;
    color: white;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
}
h3 {
    width: 95%;
    margin: 10px;
    font-size: 250%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
}
#join {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 150%;
}
.Ndetails {
    height: 25px;
    margin: auto;
    color: white;
    width: 70%;
}
#users_logo {
    height: 35px;
    width: 35px;
    float: left;
}
#posts_logo {
    height: 35px;
    width: 35px;
    float: left;
}
#users_info {
    height: 35px;
    float: right;
    text-align: right;
    width: 43%;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 140%;
}
#posts_info {
    text-align: right;
    height: 35px;
    float: right;
    width: 43%;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 140%;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 8px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d6001c;
    left: 20px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline {
    color: white;
    background: none;
}
.feed_item {
    width: 93%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: left;
    float: right;
    background: grey;
    border-radius: 25px;
    border: solid 2px grey;
}
.feed_info {
    float: left;
    width: 82%;
}
.attendance_based {
    border-right: 1px solid darkgrey;
}
.feed_item:hover {
  border: 2px solid #ffffff;
}
.feed_attendance {
    width: 15%;
    padding-left: 20px;
    margin-top: 5px;
    margin-right: 15px;
    float: right;
}
.attendance {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    width: 80%;
    font-size: 150%;
}