h1{
    text-align: center;
}
#global_header {
    border-bottom: 2px double black;
}
#search, #login {
    float: right;
}
#global_header::after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

#leftbox {
    float:left;
    width:25%;
    height:75px;
}
#centerbox{
    float:left;
    width:50%;
    height:75px;
}
#rightbox{
    float:right;
    width:25%;
    height:75px;
    vertical-align: center;
}

button {
    margin-top: 25px;
    margin-right: 10px;
    height: 25px;
}

#logintext {
    margin-right: 10px;
}