h1{
    text-align: center;
}
#global_header {
    border-bottom: 2px double black;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#global_header::after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

#leftbox {
    /*float:left;*/
    width:25%;
    height:75px;
}
#centerbox{
    /*float:left;*/
    width:50%;
    height: auto;
}
#rightbox{
    float:right;
    width: 20%;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*vertical-align: center;*/
}
#page_title {
    margin-top: 20px;
}

#admin, #logout, #login, #search {
    float: left;
    height: 32px;
    width: 30%;
    margin: 3px 3px 3px 3px;
    font-size: 11px;
    line-height: initial;
}

#logintext {
    text-align: center;
    float: right;
    margin: 0 20;
    width: 80%;
    flex-basis: 100%;
}

.btn {
    width: 10%;
    padding: 0;
}
#user_profile {
    margin-right: 10px;
    width: 75%;
}
#user_image {
    float: right;
    margin: 0;
    padding: 0;
    width: 20%;
}
