h1{
    text-align: center;
}
#global_header {
    border-bottom: 2px double black;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#global_header::after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

#leftbox {
    /*float:left;*/
    width:25%;
    height:75px;
}
#centerbox{
    /*float:left;*/
    width:50%;
    height: auto;
}
#rightbox{
    /*float:right;*/
    width:25%;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /*vertical-align: center;*/
}

button {
    height: 25px;
    width: 60px;
}

#logintext {
    text-align: center;
    flex-basis: 100%;
}
