body {
	margin: 0;
	color: white;
	background: rgb(59, 59, 59);
}
/* homepage css */
h2 {
	color: white;
}
ul {
    font-size: 150%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
	float: left;
	width: 33%;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: rgb(233, 81, 81);
}
.display {
	background: rgba(255, 255, 255, 0.3);
}